# TP no 10: Séries Temporelles

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Question 1

In [13]:
df = pd.read_csv("Openhealth_S-Grippal.csv", sep =";", decimal = ',')
df

         PERIODE  IAS_brut  IAS_lisse  Incidence_Sentinelles
0     2009-07-01       1.7        2.2                    2.3
1     2009-07-02       3.4        2.1                    2.3
2     2009-07-03       2.1        2.1                    2.3
3     2009-07-04       1.3        2.0                    2.3
4     2009-07-05      14.2        2.0                    2.3
...          ...       ...        ...                    ...
1747  2014-04-13      77.9        1.8                    NaN
1748  2014-04-14       2.7        1.7                    NaN
1749  2014-04-15       1.0        1.6                    NaN
1750  2014-04-16       1.6        1.6                    NaN
1751  2014-04-17       0.4        1.6                    NaN

[1752 rows x 4 columns]

Tout les jours. Date min : 01/07/2009. Data max : 17/04/2014

In [30]:
df['IAS_brut'] = df['IAS_brut'].replace(df['IAS_brut'] == 0, np.nan)

In [31]:
df = df.fillna(method='ffill')

In [32]:
(df == 0).sum()

PERIODE                  0
IAS_brut                 0
IAS_lisse                0
Incidence_Sentinelles    0
dtype: int64

In [34]:
df

         PERIODE  IAS_brut  IAS_lisse  Incidence_Sentinelles
0     2009-07-01       1.7        2.2                    2.3
1     2009-07-02       3.4        2.1                    2.3
2     2009-07-03       2.1        2.1                    2.3
3     2009-07-04       1.3        2.0                    2.3
4     2009-07-05      14.2        2.0                    2.3
...          ...       ...        ...                    ...
1747  2014-04-13      77.9        1.8                    5.0
1748  2014-04-14       2.7        1.7                    5.0
1749  2014-04-15       1.0        1.6                    5.0
1750  2014-04-16       1.6        1.6                    5.0
1751  2014-04-17       0.4        1.6                    5.0

[1752 rows x 4 columns]

### Question 2

In [33]:
df.plot(x=df['PERIODE'], y=df['IAS_brut']) 
plt.show

KeyError: "None of [Index(['2009-07-01', '2009-07-02', '2009-07-03', '2009-07-04', '2009-07-05',\n       '2009-07-06', '2009-07-07', '2009-07-08', '2009-07-09', '2009-07-10',\n       ...\n       '2014-04-08', '2014-04-09', '2014-04-10', '2014-04-11', '2014-04-12',\n       '2014-04-13', '2014-04-14', '2014-04-15', '2014-04-16', '2014-04-17'],\n      dtype='object', length=1752)] are in the [columns]"